<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style1.css">
    <title>Document</title>
</head>
<body>
    <div class="row Rectangle">
        <div class="column left"> <img src="images/chicken.jpeg" alt="" class="grilled-lemon-chicken-feta-rice-ck"> </div>
        <div class="column right">
            <div class="row">
                <div class="Chicken-Breast-9oz">Chicken Breast | 9oz</div>
            </div>
            <br>
            <div class="row">
                <span class="num"> 561 </span>
                <span class="KCal"> KCal </span>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="columninner">
                    <div class="Rectangle-Copy-2"></div> 
                    <div class="Rectangle-Copy-2"></div>
                    <div class="Rectangle-blue"></div>
                    <br><br>
                    <div > 
                        <span class="Stroke-5"> <img src="images/Asset1.png" alt=""></span> &nbsp;
                        <span class="Carbs">Carbs</span>
                    </div>
                </div>
                <div class="columninner">
                    <div class="Rectangle-Copy-2"></div>
                    <div class="Rectangle-red"></div>
                    <div class="Rectangle-red"></div>
                    <br><br>
                    <div > 
                        <span class="Stroke-5"> <img src="images/Asset 2.png" alt=""></span> &nbsp;
                        <span class="Proteins">Proteins</span>
                    </div>
                </div>
                <div class="columninner">
                    <div class="Rectangle-Copy-2"></div>
                    <div class="Rectangle-yellow"></div>
                    <div class="Rectangle-yellow"></div>
                    <br><br>
                    <div > 
                        <span class="Stroke-5"> <img src="images/Asset 3.png" alt=""></span> &nbsp;
                        <span class="Fat">Fat</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>


